@charset "utf-8";
/* CSS Document */

body{
text-align:center;margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;}

.window{width:800px;margin:0 auto;}
.nav{position:absolute;margin: 0;}

.logo img{position:absolute;}


.nav ul{padding: 0;margin: 0;list-style: none;}
/*这里必须设置内边距和外边距，因为浏览器会给ul设定默认值，会把导航栏挤歪*/
.nav li{float: left;position :relative;}
/*本来ul是竖直排列的，对所有li元素进行float:left他就会自动全部靠左*/
.nav ul li a,.nav ul li a:hover {/*对所有项目a标签设置统一样式*/
display: block;text-align: center;text-decoration: none;width: 176.8px;color: black;
border: 1px solid #fff;/*边框大小和颜色 */
border-width: 0px 0px 0 0;
/*四个边框的宽度 ,注意，左右边框没有像素，仔细看导航栏左右有缝隙*/
background: #CCCCCC;height：50px;line-height: 50px;font-size: 17px;}
/*这里将height和line-height设置为一样的高度文字就会水平竖直居中 */
.nav ul li:hover a {color: #fff;background: #CCCCFF;}
/*这是一个css伪类，将鼠标移上去的时候字体和背景都会变色，移开又会变回来 */
.nav ul li ul {display: none;}
/*这是实现下拉菜单隐藏的关键*/
.nav ul li:hover ul {display: block;position: absolute;top: 51px;left: 0;width: 185px;}/*这里就是弹出的下拉菜单了*/
.nav ul li:hover ul li a {display: block;background: #CCFFFF;color: #000;}
/*这里当然是定义下拉菜单里的a标签了*/
.nav ul li:hover ul li a:hover {background: #dfc184;color: #000;} 
/*下拉菜单a标签的伪类设置*/


/*主要box*/
.taitouyi{background:#FFFFFF;width:130px; height:63px; margin:0 auto;}
.taitouyi p{position:absolute;left:50px;font-size:24px; }
/*版块一抬头*/
.content{ background:#ffffff; width:1330px; height:705px; margin:0 auto}

/*第一版块*/
.contentone{ background:#ffffff; width:1320px; height:300px; margin:0 auto}
/*栏目一*/
.lanmuyi{ background:#ffffff; width:421px; height:300px; float:left;border:2px solid #ff0000; margin:0 20 0 0}
.lanmuyi img{position:relative;width:421px;height:270px}
.lanmuyi a{text-decoration: none; color:  inherit}/*继承父类眼*/
.lanmuheadyi{ background:#FF0000; width:421px;height:30px}
.lanmunameyi{ width:225px;height:30px; float:left;}
.lanmumoreer{ width:180px;height:30px; float:right;}
.nameyi{ text-align:left; color:#ffffff; font-size:17px; margin:0 0 0 10}
.moreyi{ text-align:right; color:#ffffff; font-size:17px; margin:0 0 0 100}
/*栏目二*/
.lanmuer{ background:#fff; width:421px; height:300px; float:left;border:2px solid #FF6600; margin:0 20 0 0}
.lanmuer img{position:relative;width:421px;height:270px}
.lanmuer a{text-decoration: none; color:  inherit}
.lanmuheader{ background:#FF6600; width:421px;height:30px}
.lanmunameer{ width:225px;height:30px; float:left}
.lanmumoreer{ width:180px;height:30px; float:right;}
.nameer{ text-align:left; color:#fff; font-size:17px; margin:0 0 0 10}
.moreer{ text-align:right; color:#fff; font-size:17px; margin:0 0 0 100}
/*栏目三*/
.lanmusan{ background:#fff; width:421px; height:300px; float:right;border:2px solid #ff3300; margin:0 0 0 0}
.lanmusan img{position:relative;width:421px;height:270px}
.lanmusan a{text-decoration: none; color:  inherit}
.lanmuheadsan{ background:#ff3300; width:421px;height:30px}
.lanmunamesan{ width:240px;height:30px; float:left}
.lanmumoresan{ width:180px;height:30px; float:right;}
.namesan{ text-align:left; color:#fff; font-size:17px; margin:0 0 0 10}
.moresan{ text-align:right; color:#fff; font-size:17px; margin:0 0 0 100}

/*版块二抬头*/
.taitouer{background:#FFFFFF;width:130px; height:63px; margin:0 auto;}
.taitouer p{position:absolute;left:50px;font-size:24px; }

/*第二版块*/
.contenttwo{ background:#ffffff; width:1390px; height:300px; margin:0 auto}
/*栏目四*/
.lanmusi{ background:#fff; width:422px; height:300px; float:left;border:2px solid #FF9900; margin:0 20 0 0}
.lanmuheadsi{ background:#FF9900; width:422px;height:30px}
.lanmusi img{position:relative;width:426px;height:270px}
.lanmusi a{text-decoration: none; color:  inherit}
.lanmunamesi{ width:150px;height:30px; float:left}
.namesi{ text-align:left; color:#ffffff; font-size:17px; margin:0 0 0 10}
/*栏目六*/
.lanmuliu{ position:absolute;left:488px;top:580px;tbackground:#fff; width:210.5px; height:150px; float:left; margin:0 0 0 0}
.lanmuliu img{width:200px;height:145px;}
 /*栏目七*/
 .lanmuqi{ position:absolute;left:712.5px;top:580px;background:#fff; width:210.5px; height:150px; float:left; margin:0 0 0 0}
 .lanmunameqi{ width:240px;height:30px; float:left}
.lanmuqi img{width:200px;height:145px;}
 
 /*栏目八*/
 .lanmuba{ position:absolute;left:935px;top:580px;background:#fff; width:210.5px; height:150px; float:left; margin:0 0 0 0}
 .lanmunameba{ width:240px;height:30px; float:left}
.lanmuba img{width:200px;height:145px;}
 
 /*栏目九*/
 .lanmujiu{ position:absolute;left:1159px;top:580px;background:#fff; width:210.5px; height:150px; float:left; margin:0 0 0 0}
 .lanmunamejiu{ width:240px;height:30px; float:left}
 .lanmujiu img{width:200px;height:145px;}

 /*栏目十*/
 .lanmuten{ position:absolute;left:488px;top:740px;background:#fff; width:210.5px; height:150px; float:left; margin:0 0 0 0}
 .lanmunameten{ width:240px;height:30px; float:left}
 .lanmuten img{width:200px;height:145px;}
 
 /*栏目十一*/
 .lanmuelven{ position:absolute;left:712.5px;top:740px;background:#fff; width:210.5px; height:150px; float:left; margin:0 0 0 0}
 .lanmunameelven{ width:240px;height:30px; float:left}
 .lanmuelven img{width:200px;height:145px;}

 
 /*栏目十二*/
 .lanmutwelve{ position:absolute;left:935px;top:740px;background:#fff; width:210.5px; height:150px; float:left;margin:0 0 0 0}
 .lanmunametwelve{ width:240px;height:30px; float:left}
 .lanmutwelve img{width:200px;height:145px;}

 
 
 /*栏目十三*/
 .lanmuthirteen{ position:absolute;left:1159px;top:740px;background:#fff; width:210.5px; height:150px; float:left;margin:0 0 0 0}
 .lanmunamethirteen{ width:240px;height:30px; float:left}
 .lanmuthirteen img{width:200px;height:145px;}

 
 
 
 
 
 
 
 
 
 
/*底部*/
.footer{background:#CCCCCC; width:1419px; height:80px; margin:0 auto}
/*间隙*/
.jianxi1{ background:#ffffff; height:105px; margin:0 auto}
.jianxi2{ background:#ffffff; height:50px; margin:0 auto}
.jianxi3{ background:#ffffff; height:0px; margin:0 auto}
.jianxi4{ background:#ffffff; height:50px; margin:0 auto}
.jianxi5{ background:#ffffff; height:114px; margin:0 auto}
.jianxi6{ background:#ffffff; height:214px; margin:0 auto}
.jianxi7{ background:#ffffff; height:136px; margin:0 auto}



/*history.html*/
.waikuang001{background:url(images/beijing001.png);background-size:contain;}
.history01{background-color:transparent;width:830px; height:853px; margin:0 auto;}
.history01 img{position:relative;width:221px;height:270px  }

/*yixiandui.html*/
.hezi001{background:white;}
.hezi001 img{height:50%;weight:50%;}
.qianfeng{    float:left;height:420px;text-align: center;line-height:25px;
								font-size:15px;background-color: #f7f7f7;}
.zhongchang{  float:left;height:420px;text-align: center;line-height:32px;
							font-size:15px;background-color: #f7f7f7;}
.houwei{    float:left;height:420px;text-align: center;line-height:32px;
							font-size:15px;background-color: #f7f7f7;}
.menjiang{    height:550px; text-align: center;line-height:32px;font-size:15px;
							background-color: #f7f7f7;}
	
	
	
/*登录注册css.html*/
 .login {  overflow: auto; white-space:nowrap;position: absolute;left:840px;
					top:120px;margin: 50px 0 0 110px; width:460px;height:220px;} 
/* nowwrap, 不换行text-shadow设置阴影，letter-spacing设置字符间距 */ 
.login h1 { color:#555555; text-shadow: 0px 10px 8px #CDC673; 
						letter-spacing:2px;text-align:center;margin-bottom:20px; } 
/* 两个输入框的css，border属性设置边框线粗细以及颜色，border-radius设置边框的圆角角度 */ 
.login input{padding:10px;width:20%;color:white;margin-bottom:4px;
							background-color:#555555;border: 1px solid black;border-radius:4px;
							letter-spacing:2px;} 
/* 登录按钮的css，cursor:pointer当鼠标移到按钮上面时变成小手形状 */ 
.login form button{width:20%;padding:10px;background-color:#CDC673;
										border:1px solid black;border-radius:4px;cursor:pointer; } 
										
										
										
/*sign_up.html*/		
								
form {}

.form1{background:url(images/beijing001.png);background-size:contain;
		width:1300px;height:500px;margin: 0px auto;
		padding: 120px;border: 1px solid black;font-size:20px;}
div {padding: 0px;	}
label{display: inline-block;width: 100px;margin-right: 40px;text-align: right;margin:20px;}
span{color:dimgray;font-size: 14px;}
.inputText {display: inline-block;width: 260px;margin-right: 20px;}